html {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 10pt;
  background: #fff;
  color: #000;
}

body {
  padding: 1em;
}

p {
  padding: .25em 0;
}

a {
  color: #eb8f00;
}

h1#title {
  font-size: 18pt;
  color: #eb8f00;
  font-weight: bold;
  margin: .25em 0 1em 0;
}

h2 {
  font-size: 14pt;
  color: #eb8f00;
  font-weight: bold;
  clear: left;
  margin: 1em 0 1em 0;
}

h3 {
  color: #eb8f00;
  font-weight: bold;
}

p#intervalData {
  text-align: right;
  padding-bottom: 0;
}

#footer {
  margin-top: .25em;
  text-align: center;
}

#queueMemoryUsage, #queueDepths, #queueTransactions {
  width: 100%;
  height: 250px;
  background: #fff;
  border: 1px solid #888;
  padding: .25em;
}
#quickStats {
  padding-bottom: 2em;
}

#quickStats li {
  float: left;
  width: 325px;
  margin-left: 25px;
}

#quickStats dl {
  margin-top: 1em;
}

#quickStats dt {
  float: left;
  clear: left;
  padding-left: 1em;
  width: 150px;
}

#quickStats dd {
  float: left;
  text-align: right;
  width: 100px;
}

#quickStats dd.total, #quickStats dt.total {
  margin-top: .25em;
  border-top: 1px solid #000;
  padding-top: .25em;
}


div.clear { clear: left; }